html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.Main {
  position: relative;
  background: linear-gradient(to right, rgb(38, 67, 80), #203a43, #0f2027);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.Main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  opacity: 1;
  animation: after_sunrise 2800ms ease-in-out infinite;
  z-index: -1;
}

@keyframes after_sunrise {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0.5;
  }
  45% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* .Main::before{
    content : "";
    position : absolute;
    top  : 0;
    left : 0;
    width : 100%;
    height: 100%;
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    opacity  : 0;
    animation: before_sunrise 2800ms ease-out infinite;
    z-index: -1;
}

@keyframes before_sunrise{
    0%{opacity: .9;}
    10%{opacity: .6;}
    20%{opacity : .3;}
    30%{opacity: .1;}
    50%{opacity : .0;}
    75%{opacity : 0;}
    100%{opacity: 0;}
}  */

.Moon_Clouds>.Clouds {
  width: 0px;
  height: 0px;
  position: relative;
  top: 0px;
  left: 0px;
  transition: all 0.5s ease-out;
}

.Stars:nth-of-type(1)
{
    height : 8px;
    position: relative;
    top : 40%;
    left : 40%;
    transform: rotateZ(40deg);
    animation: Star_Animation 2800ms ease-in-out infinite;
}

.Stars:nth-of-type(2)
{
    height : 3px;
    position: relative;
    top : 80%;
    left : 20%;
    transform: rotateZ(40deg);
    animation: Star_Animation 2800ms ease-in-out infinite;
}

.Stars:nth-of-type(3)
{
    height : 5px;
    position: relative;
    top : 20%;
    left : 60%;
    transform: rotateZ(40deg);
    animation: Star_Animation 2800ms ease-in-out infinite;

}

.Stars:nth-of-type(4)
{
    height : 8px;
    position: relative;
    top : 10%;
    left : 90%;
    transform: rotateZ(20deg);
    animation: Star_Animation 2800ms ease-in-out infinite;
}

.Stars:nth-of-type(5)
{
    height : 6px;
    position: relative;
    top : 70%;
    left : 80%;
    transform: rotateZ(20deg);
    animation: Star_Animation 2800ms ease-in-out infinite;
}

.Stars:nth-of-type(6)
{
    height : 4px;
    position: relative;
    top : 50%;
    left : 10%;
    transform: rotateZ(30deg);
    animation: Star_Animation 2800ms ease-in-out infinite;
}

.Stars:nth-of-type(7)
{
    height : 8px;
    position: relative;
    top : 10%;
    left : 10%;
    transform: rotateZ(20deg);
    animation: Star_Animation 2800ms ease-in-out infinite;
}

@keyframes Star_Animation{
    0%{opacity: 0;}
    49%{opacity: 0;}
    50%{opacity : .1;}
    60%{opacity : .4;}
    75%{opacity : 1;}
    100%{opacity: 1;}
}

.Container {
  width: 100%;
  height: 40%;
  margin: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.Moon {
  width: 100px;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0px;
  transition: all 0.5s ease-out;
}

.Moon_Clouds{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: white;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  position: relative;
  top: 37px;
  left: 65px;
  transition: all 0.5s ease-out;
}

.Moon_animation {
  transform: rotateZ(45deg) translateX(-80px);
}

.Moon_animation .Clouds{
  width: 80px;
  height: 70px;
  position: relative;
  top: 45px;
  left: -30px;
  transform: rotateZ(-45deg);
}

.Clouds {
  display: flex;
}

.Cld {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  position: relative;
  animation: Cloud_animation 1s ease-in-out infinite;
}

.Cld::before {
  content: "";
  width: 40px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: -5px;
  background: white;
  animation: Cloud_animation 2.8s ease-in-out infinite;
}

.Cld::after {
  content: "";
  width: 40px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: -5px;
  transform: rotateZ(90deg);
  background: white;
  animation: Cloud_animation 2.8s ease-in-out infinite;
}

.Cld1 {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  top: 0;
  left: 30px;
  background: white;
  transform: rotateZ(45deg);
  animation: Cloud_animation 2.8s ease-in-out infinite;
}

.Cld1::before {
  content: "";
  width: 40px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: -5px;
  background: white;
  animation: Cloud_animation 2.8s ease-in-out infinite;
}

.Cld1::after {
  content: "";
  width: 40px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: -5px;
  transform: rotateZ(90deg);
  background: white;
  animation: Cloud_animation 2.8s ease-in-out infinite;
}

.Cloud1 {
  position: relative;
  left: -30px;
}

.Cloud2 {
  position: relative;
  left: -50px;
}

.Cloud3 {
  position: relative;
  left: -70px;
}

@keyframes Cloud_animation {
  0% {
    background: white;
  }
  50% {
    background: white;
  }
  51% {
    background: rgb(189, 187, 187);
  }
  100% {
    background: rgb(189, 187, 187);
  }
}

.Sun {
  position: relative;
  top: -16px;
  left: -35px;
  transition: transform 0.5s ease-out;
}

.Sun_animation {
  transform: rotateZ(-45deg) translateX(80px);
}

.Center {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: rgb(189, 187, 187);
  position: relative;
  top: 17px;
  left: -30px;
  animation: Center_Animation 2800ms ease-in-out infinite;
}

@keyframes Center_Animation {
  0% {
    background: #fdb813;
  }
  45% {
    background: #fdb813;
  }
  50% {
    background: rgb(189, 187, 187);
  }
  100% {
    background: rgb(189, 187, 187);
  }
}

.Rays {
  width: 0px;
  height: 0px;
  background: #fdb813;
  border-radius: 4px;
  position: relative;
  top: 0;
  left: 2px;
  animation: rays_animation 2.8s ease-in infinite;
}

.Rays::before {
  content: "";
  width: 0px;
  height: 0px;
  background: #fdb813;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: -54px;
  animation: rays_animation 2.8s ease-in infinite;
}

.Rays1 {
  width: 0px;
  height: 0px;
  border-radius: 4px;
  background: #fdb813;
  position: relative;
  top: 23px;
  left: -25px;
  transform: rotateZ(90deg);
  animation: rays_animation 2.8s ease-in infinite;
}

.Rays1::before {
  content: "";
  width: 0px;
  height: 0px;
  background: #fdb813;
  border-radius: 4px;
  position: absolute;
  top: 0px;
  left: -54px;
  animation: rays_animation 2.8s ease-in infinite;
}

.Rays2 {
  width: 0px;
  height: 0px;
  background: #fdb813;
  border-radius: 4px;
  position: relative;
  top: 12px;
  left: -7px;
  transform: rotateZ(45deg);
  animation: rays_animation 2.8s ease-in infinite;
}

.Rays2::before {
  content: "";
  width: 0px;
  height: 0px;
  background: #fdb813;
  border-radius: 4px;
  position: absolute;
  top: 0px;
  left: -54px;
  animation: rays_animation 2.8s ease-in infinite;
}

.Rays3 {
  width: 0px;
  height: 0px;
  background: #fdb813;
  border-radius: 4px;
  position: relative;
  top: -31px;
  left: -6px;
  transform: rotateZ(-45deg);
  animation: rays_animation 2.8s ease-in infinite;
}

.Rays3::before {
  content: "";
  width: 0px;
  height: 0px;
  background: #fdb813;
  border-radius: 4px;
  position: absolute;
  top: 0px;
  left: -54px;
  animation: rays_animation 2.8s ease-in infinite;
}

@keyframes rays_animation {
  0% {
    width: 0px;
    height: 0px;
  }
  10% {
    width: 20px;
    height: 4px;
  }
  25% {
    width: 20px;
    height: 4px;
  }
  35% {
    width: 20px;
    height: 4px;
  }
  40% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}
